@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Michroma", sans-serif;
  height: 100vh;
}

.span3 {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: end;
  gap: 3px;
  position: relative;
  left: 15px;
  top: 7px;
}


span.carregando {
  width: 8px;
  height: 17px;
  background-color: #ffffff;
  display: block;
  border-radius: 8px;
  margin-bottom: 2px;
}







/*span.carregando1 {
  width: 8px;
  height: 24px;
  background-color: #8a78b1;
  display: block;
  border-radius: 8px;
  margin-bottom: 2px;
  
}

span.carregando2 {
  width: 8px;
    height: 33px;
    background-color: #ffffff;
    display: block;
    border-radius: 8px;
    margin-bottom: 2px;
  
}


span.animation {
  width: 90px;
  height: 90px;
  background-color: transparent;
  display: block;
  border: 5px solid rebeccapurple;
  border-radius: 36%;
  border-top: 12px solid transparent;
  margin-bottom: 2px;
  animation: loading 1s linear infinite;
}

  


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}*/

.container-loading {
  background-color: black;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
} 

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.loader {
  position: relative;
  width: 4%;
  height: 100px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  border-radius: 3px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 3s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 3s infinite;
  background: #7b4edd;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 3s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 3s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 3s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 3s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(14px, -20px);
  }
  32% {
    transform: translate(30px, -30px);
  }

  48% {
    transform: translate(30px, -30px);
  }

  64% {
    transform: translate(13px, -38px);
  }

  80% {
    transform: translate(0px, -42px);
  }

  96% {
    transform: translate(0px, -42px);
  }

  100% {
    transform: translate(0px, 0px);
  }

 
 
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
} /*# sourceMappingURL=style.css.map */









